@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'raleway-black';
  src: url('/assets/fonts/Raleway-Black.ttf');
}

@font-face {
  font-family: 'raleway-bold';
  src: url('/assets/fonts/raleway-bold');
}

@font-face {
  font-family: 'raleway-extrabold';
  src: url('/assets/fonts/Raleway-extrabold.ttf');
}

@font-face {
  font-family: 'raleway-extralight';
  src: url('/assets/fonts/Raleway-Extralight.ttf');
}

@font-face {
  font-family: 'raleway-light';
  src: url('/assets/fonts/Raleway-Light.ttf');
}

@font-face {
  font-family: 'raleway-medium';
  src: url('/assets/fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'raleway-regular';
  src: url('/assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'raleway-semibold';
  src: url('/assets/fonts/Raleway-Semibold.ttf');
}

@font-face {
  font-family: 'raleway-thin';
  src: url('/assets/fonts/Raleway-Thin.ttf');
}
